@import "tailwindcss";

body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    /* background-color: rgb(248, 219, 114); */
}

.page-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 2.25rem; 
    line-height: 2.5rem;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
    justify-content: center;
}

.addagrams-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    /* background-color: rgb(240, 224, 175); */
}
    

.addagram-container {
    padding: 5px 10px;
    width: 600px;
    /* background-color: rgb(240, 224, 175); */
    overflow: auto;
    display: flex;
    justify-content: center;
    margin: 4px;
}


.letters {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 15px;
    /* background-color: rgb(240, 224, 175); */
    transition: box-shadow 0.3s ease;
}


.letters:hover {
    box-shadow: 0 0 12px 5px rgba(228, 153, 222, 0.7);
}

.letters:focus-within {
    box-shadow: 0 0 12px 5px rgba(159, 24, 147, 0.7);
}

.letters.correct {
    box-shadow: 0 0 12px 5px rgba(6, 89, 24, 0.7);
    pointer-events: none;
    cursor: not-allowed;
}  

.letters.incorrect {
    box-shadow: 0 0 12px 5px rgba(193, 49, 6, 0.7);
}  

.letters input {
    margin: 4px;
    background-color: #ffffff;
}

.submit-btn-container {
    display: flex;
    width: 600px;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.results-container {
    padding: 5px 10px;
    width: 400px;
    height: 150px;
    border-radius: 15px;
    font-size: 0.9rem; 
    flex-direction: column;
    background-color: rgb(146, 199, 245);
    display: flex;
    justify-content: center; 
    margin: 40px;
}

.finish-btn-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}